.design {
    .section__info {
        margin-bottom:  $m-11;
    }
    .design__item {
        position: relative;
        border: 1px solid $clr-design-bdr;
        padding: $p-9;
        border-radius: $bdra-1;
        .design__icon {
            position: absolute;
            background-color: $clr-pro-bar-txt;
            box-shadow: 0 0 0 4px white;
            width: $fs-3;
            height: $fs-3;
            border-radius: $bdra-1;
            color: $clr-dark-bg-txt;
            text-align: center;
            top: -$fs-title-banner;
            transition: all .5s;
            i {
                font-size: $fs-title-banner;
                line-height: $fs-3;
            }
        }
        h2 {
            font-size: $fs-0 + 4;
            font-weight: $fw-def;
            letter-spacing: $ls-0;
            text-transform: uppercase;
            margin: $m-9 0 $m-7 0;
        }
        p {
            font-size: $fs-def;
            color: $clr-des-txt;
        }
        &:hover .design__icon{
            background-color: $clr-second;
        }
    }
}