.team {
    .team__content {
        .col-12 {
            padding: 0 $p-9;
        }
        .team__item {
            position: relative;
            overflow: hidden;
            .team__photo {
                position: relative;
                img {
                    width: 100%;
                }
                .team__name {
                    position: absolute;
                    right: 0;
                    bottom: 33px;
                    width: 70%;
                    background-color: $cLr-team-name-bg;
                    text-align: right;
                    padding: $p-3 $p-7;
                    h3 {
                        font-size: $fs-tab;
                        color: $clr-dark-bg-txt;
                        letter-spacing: 2px;
                        font-weight: 300;
                        margin-bottom: 2px;
                        text-transform: uppercase;
                        line-height: $lh-def;
                    }
                    p {
                        @include textStyle1($fs-show-categ, $clr-team-pos, $ls-1, 0);
                    }
                }
            }
            .team__info {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: $cLr-show-info-bg;
                border: $fs-0 solid $cLr-show-info-bdr;
                justify-content: center;
                display: flex;
                flex-direction: column;
                opacity: 0;
                transition: all 0.5s;
                text-align: center;
                .team__text {
                    transform: translateY(-170%);
                    transition: all .5s;
                    padding: 0 $p-7;
                    h3 {
                        @include textStyle1($fs-show-categ, $clr-pro-bar-txt, $ls-1 + 2, $m-8);
                    }
                    p {
                        @include textStyle2($fs-show-categ, $clr-des-txt, $lh-0)
                    }
                }
                .team__social {
                    transition: all .5s;
                    transform: translateY(500%);
                    a {
                        font-size: $fs-team-i;
                        color: $clr-pro-bar-txt;
                        margin: 0 $m-3;
                    }
                }
            }
            &:hover .team__info {
                opacity: 1;
                .team__text {
                    transform: translateY(-30%);
                }
                .team__social {
                    transform:  translateY(300%);
                }
            }
        }
    }
}
